In [2]:
import os
import pandas as pd
import csv
import datetime

# Module for reading CSV files
csvpath = os.path.join('data', 'tripdatasummer2017.csv')

# Method 2: Improved Reading using CSV module

with open(csvpath,newline='') as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')

    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)

    # Read each row of data after the header
    q1 = []
    starthourlist = []

    for row in csvreader:   
        x = datetime.datetime.strptime(row[1],"%Y-%m-%d %H:%M")
        starthourlist.append(x.hour)
        q1.append(row)

df1 = pd.DataFrame(q1, columns=csv_header)
df1["starthour"] = starthourlist
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,starthour
0,687,2017-6-2 00:00,2017-6-2 00:11,164,E 47 St & 2 Ave,40.75323098,-73.97032517,2006,Central Park S & 6 Ave,40.76590936,-73.97634151,20114,Subscriber,1986,1,0
1,1182,2017-6-2 00:00,2017-6-2 00:19,2006,Central Park S & 6 Ave,40.76590936,-73.97634151,3282,5 Ave & E 88 St,40.78307,-73.95939,19083,Customer,NULL,0,0
2,201,2017-6-2 00:00,2017-6-2 00:03,3461,Murray St & Greenwich St,40.71485151,-74.01122332,3436,Greenwich St & Hubert St,40.721319,-74.010065,17710,Subscriber,1985,1,0
3,164,2017-6-2 00:00,2017-6-2 00:03,217,Old Fulton St,40.70277159,-73.99383605,430,York St & Jay St,40.7014851,-73.98656928,17431,Subscriber,1966,1,0
4,781,2017-6-2 00:00,2017-6-2 00:13,284,Greenwich Ave & 8 Ave,40.73901691,-74.00263761,477,W 41 St & 8 Ave,40.75640548,-73.9900262,25812,Customer,NULL,0,0

In [3]:
summerhours = df1["starthour"].value_counts()

In [4]:
print(summerhours)

17    30877
18    28582
8     23769
16    22280
19    20901
15    18451
9     18326
14    17507
13    16734
12    15542
20    14542
7     13690
11    13259
10    12414
21     9677
22     9239
6      6859
23     5721
0      3134
5      1910
1      1547
2       717
3       433
4       419
Name: starthour, dtype: int64

In [ ]:
csvlist = ['csv1.csv','csv565',,,,,]
fout=open("mergedfile.csv","a")
# first file:
for line in open("sh1.csv"):
    fout.write(line)
# now the rest:    
for file in csvlist:
    f = open(file)
    f.next() # skip the header
    for line in f:
         fout.write(line)
    f.close() # not really needed
fout.close()

In [ ]:
from glob import glob

with open('singleDataFile.csv', 'a') as singleFile:
    for csvFile in glob('*.csv'):
        for line in open(csvFile, 'r'):
            singleFile.write(line)