In [1]:
import pandas as pd

In [2]:
budget_pd = pd.read_csv("Resources/budget_data.csv",delimiter = ",")
budget_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
count = budget_pd["Date"].count()
count

86

In [6]:
net_profit = budget_pd["Profit/Losses"].sum()
net_profit

38382578

In [24]:
delta = budget_pd["Profit/Losses"].diff()
delta_df = delta.to_frame()
avg_delta = delta_df["Profit/Losses"].mean()
avg_delta
delta_df.head()

   Profit/Losses
0            NaN
1       116771.0
2      -662642.0
3      -391430.0
4       379920.0

In [21]:
max_profit = delta_df["Profit/Losses"].max()
max_profit

1926159.0

In [30]:
delta_df.loc[delta_df['Profit/Losses'] == max_profit]

    Profit/Losses
25      1926159.0

In [33]:
Max_date = budget_pd.loc[25]['Date']
Max_date

'Feb-2012'

In [34]:
max_loss = delta_df["Profit/Losses"].min()
max_loss

-2196167.0

In [37]:
min_loc = delta_df.loc[delta_df['Profit/Losses'] == max_loss]
min_loc
# Min_date = budget_pd.loc[min_loc]['Date']
# Min_date

    Profit/Losses
44     -2196167.0

In [38]:
Min_date = budget_pd.loc[44]['Date']
Min_date

'Sep-2013'

In [44]:
print("Financial Analysis ----------------------------")
print(f"Total Months:{count}")
print(f"Total: {str(net_profit)}")
print(f"Average  Change:{str(avg_delta)}")
print(f"Greatest Increase in Profits: {str(Max_date)}  {str(max_profit)}")
print(f"Greatest Decrease in Profits: {str(Min_date)}  {str(max_loss)}")

Financial Analysis ----------------------------
Total Months:86
Total: 38382578
Average  Change:-2315.1176470588234
Greatest Increase in Profits: Feb-2012  1926159.0
Greatest Decrease in Profits: Sep-2013  -2196167.0